* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f8fa;
}

header {
  height: 70px;
  padding-top: 10px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
}

body, header, .title {
  display: inline;
  vertical-align: middle;
  font-weight: bold;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif
}

body, header, .logo {
  padding-left: 20px;
  vertical-align: middle;
}

